{% for reply in replies %}
<div class="reply">
  <small
    ><a href="{% url 'reddit_users:view_profile' user.username %}"
      >u/{{ reply.author.username }}</a
    >
    | {{ reply.created_at }}</small
  >
  <p><{{ reply.content }}</p>
  <a href="#" class="reply-link" data-comment-id="{{ reply.id }}"
    >Reply to reply</a
  >
  {% if reply.replies.all %}
  <div class="replies">
    {% include 'partials/replies.html' with replies=reply.replies.all %}
  </div>
  {% endif %}
</div>
{% endfor %}
