{% extends 'base.html' %} {% load static %} {% block content %}
<div class="posts-container">
  <h2>Posts</h2>
  {% if posts %}
  <div class="posts">
    {% for post in posts %}
    <div class="post">
      <h3 class="post-title">
        <a href="{% url 'posts:view_post' post.id %}">{{ post.title }}</a>
      </h3>
      <p>{{ post.content }}</p>
      <small>By {{ post.author.username }} on {{ post.created_at }}</small>
      <div class="post-footer">
        <button
          class="vote-btn upvote-btn {% if request.user in post.upvoted_by.all %}upvoted{% endif %}"
          data-post-id="{{ post.id }}"
          style="border: none; background: none; cursor: pointer; outline: none"
        >
          <i class="bi bi-arrow-up-square"></i></button
        >|
        <span id="vote-count-{{ post.id }}">{{ post.get_vote_count }}</span> |
        <button
          class="vote-btn downvote-btn {% if request.user in post.downvoted_by.all %}downvoted{% endif %}"
          data-post-id="{{ post.id }}"
          style="border: none; background: none; cursor: pointer; outline: none"
        >
          <i class="bi bi-arrow-down-square"></i>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No posts yet. Be the first to create a post!</p>
  {% endif %}
</div>
<div class="about-subreddit">
  <h1>{{ subreddit.name }}</h1>
  <p>{{ subreddit.description }}</p>
  <a href="{% url 'posts:create_post' %}?subreddit={{ subreddit.id }}"
    >Create Post</a
  >
</div>
<script>
  document.querySelectorAll(".vote-btn").forEach((button) => {
    button.addEventListener("click", function () {
      const postId = this.getAttribute("data-post-id");
      const action = this.classList.contains("upvote-btn")
        ? "upvote"
        : "downvote";
      const url = "{% url 'posts:vote_post' %}";

      fetch(url, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "Content-Type": "application/x-www-form-urlencoded",
        },
        body: new URLSearchParams({ post_id: postId, action: action }),
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById(`vote-count-${postId}`).innerText =
            data.vote_count;
          if (action === "upvote") {
            this.classList.toggle("upvoted");
            this.classList.remove("downvoted");
          } else {
            this.classList.toggle("downvoted");
            this.classList.remove("upvoted");
          }
        });
    });
  });
</script>
{% endblock %}
